body {
  padding:5px 5px;
}
.dwa15-img {
  display:block;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  padding:2px;
}
.dwa15-card-title {
  text-decoration: underline;
}
hr {
  padding:2px;
  padding-top:0px;
  margin-top:1px;
}
.dwa15-help-text {
    color: red;
    font-weight:bold;
    font-size:10px;

}
#divSearchResultsTable{
    display:inline-block;
    min-width:60%;
    max-width:60%;
    margin:auto;
    padding:10px;
    float:left;
    clear:left;
    min-height:550px;
    max-height:550px;
    left:0px;
    overflow:auto;
}
#p3-results-container{
    margin:0px;padding:1px;width:100%;min-height:475px;max-height:475px;overflow:hidden;left:5px;top:-10px;
}

#divSearchResultsMap {
    display:inline-block;
    margin:auto;
    padding:10px;
    min-width:40%;
    max-width:40%;
    min-height:550px;
    max-height:550px;
    float:right;
    clear:right;
    right:0px;
    overflow:auto;
}


#tblSearchResults {
    align:right;
    vertical-align:middle;
    font-size:x-small;
}
