body {
  padding:10px 5px;
}
.dwa15-img {
  display:block;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  padding:2px;
}
.dwa15-card-title {
  text-decoration: underline;
}
hr {
  padding:2px;
  padding-top:0px;
  margin-top:1px;
}
